body{
    background-image: url(3030.jpg);
    background-size: 100% 100%h;
    background-attachment: fixed;
    margin: 0;
}


form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 8px;

}

label{
    color: seashell;
}


h2{
    color: white;
    font-family: cooper;
    text-align: center;
    margin: 0;
    font-size: 33px;
    margin-bottom: 20px;
}

input{
    width: 100%;
    margin-bottom: 20px;
    padding: 3.3px;
    box-sizing: border-box;
}



footer{
    background: rgb(0, 0, 0.4);
    padding: 36px;
    width: auto;
    
}

h2{
    color: whitesmoke;
    font-size: 18px;
font-family: cooper;

 }

 .cuadrito {
margin:33px ;
padding:0%;


}

footer.arriba{ 
    background: #21b919;
    padding: 25px;
    width: auto;
    
}

*{
   display: ruby;
   background-attachment: scroll;
}

div {
    
        animation-duration: 3s;
        animation-name: slidein;
    
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
